html, body {
    color: #3e3f44;
    background-color: #e0e0e0;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.4;
}

#main-doc {
    display: flex;
    column-gap: 40px;
    margin-top: -15px;
    margin-bottom: -25px;
    margin-right: 20px;
    flex-wrap: wrap;
}

td a {
    color: #3e3f44;
    text-decoration: none;
}

#nav-table {
    border-right: 3px double #3e3f44;
    margin-left: -20px;
    width: 100%;
}

td, th {
    padding: 10px 10px 10px 20px;
    border-bottom: 1px solid #3e3f44;
}

th {
    font-size: x-large;
    color: black;
    font-weight: normal;
}

#page-navigation {
    min-width: 300px;
    position: fixed;
    height: 102vh;
}

#content {
    position: absolute;
    left: 314px;
}




.content-section h1 {
    color: black;
    font-size: xx-large;
    font-weight: normal;
}

.content-section p {
    margin-left: 30px;
    margin-right: 30px;
}



ul {
    margin-left: 30px;
    margin-right: 30px;
}

li {
    margin: 20px;
}

#last-td {
    padding: 10px 20px 70px 20px;
    vertical-align: text-top;
    border-bottom: none;
}